.productCard{
    border-radius: 5px;
    border: 2px solid var(--primary);
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.3fr ;
    gap: 10px;
    padding: 10px;
    height: 200px;
}

@media screen and (max-width: 800px) {
    .productCard{
        height: 600px;
        grid-template-columns: 100%;
        grid-template-rows: 0.8fr 1fr 0.4fr;
        justify-content: center;
    }
}

.productCard .content{
    overflow: hidden;
    height: 100%;
}

.productCard .content .body{
    overflow: hidden;
}

.productCard .title{
    margin:5px 0px;
}

.productCard .img{
    margin: auto;
}

.productCard .price{
    text-align: center;
}

.productCard .price .url{
    background-color: var(--primary);
    padding: 10px;
    color: var(--white);
}