html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: red;
  --sencondary: red;

  --white: white;
  --black: black;

  --warning: red;
  --error: red;
  --success: red;
  --info: red;

  --font-color-ligth: black;
  --font-color-dark: red;

  --background-light: red;
  --background-dark: red;
}
