input{
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    padding: 5px;
    border-radius: 5px;
    outline: none;
    
    transition: border-color 500ms cubic-bezier(0.22, 0.61, 0.36, 1), box-shadow 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
    -webkit-transition : border-color 500ms cubic-bezier(0.22, 0.61, 0.36, 1), box-shadow 500ms cubic-bezier(0.22, 0.61, 0.36, 1); 
   -moz-transition : border-color 500ms cubic-bezier(0.22, 0.61, 0.36, 1), box-shadow 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
   -o-transition : border-color 500ms cubic-bezier(0.22, 0.61, 0.36, 1) ,box-shadow 500ms cubic-bezier(0.22, 0.61, 0.36, 1); 
  }
  
  input:focus{
    border-color: var(--sencondary);
    box-shadow: var(--border-color) 0px 0px 18px 1px;
  }