:root {
    --primary: #FE5F00;
    --sencondary: #ffa42f;
  
    --white: white;
    --black: black;
  
    --light: #ffffff;
    --dark: #2D3142;
  
    --warning: red;
    --error: red;
    --success: red;
    --info: red;
  
    --font-size: 18px;
  
    --border-color: #d5d5d5;
    --font-color: var(--dark);
    --background-color: var(--white);
  }
  /* // https://coolors.co/2d3142-4f5d75-bfc0c0-ffffff-fe5f00 */
  
  html[scheme='light-mode'] body {
    --background-color: var(--white);
    --font-color: var(--black);
    --border-color: var(--light);
  }
  
  html[scheme='dark-mode'] body {
    --background-color: var(--dark);
    --font-color: var(--light);
    --border-color: var(--black);
  }